/* COLOR VARIABLES */

:root {
    --azure: rgb(131, 254, 208);
    --yellow: rgb(246, 195, 68);
    --white: rgb(255, 255, 255);

}

/* GENERAL*/

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 2px dashed red;
}

img {
    width: 100%;
}

body {
    background-color: var(--azure);
}

header,
footer {
    height: 5rem;
    background-color: var(--white);
}

#logo-container {
    width: 4rem;
    aspect-ratio: 1 / 1;
}

button {
    background-color: white;
    border: 1px solid black;
}

#minefield {
    width: 30rem;
    aspect-ratio: 1 / 1;
    margin: 1rem auto;
}

.azure-cell {
    background-color: var(--azure);
    border: 1px solid black;
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    text-align: center;
    line-height: 3rem;
    color: black;
}

.beginner-cell {
    width: calc(100% / 10);
}

.advanced-cell {
    width: calc(100% / 9);
}

.pro-cell {
    width: calc(100% / 7);
}