/* COLOR VARIABLES */

:root {
    --azure: rgb(93, 199, 236);
    --yellow: rgb(246, 195, 68);
}

/* GENERAL*/

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 2px dashed red;
}

img {
    width: 100%;
}

body {
    background-color: whitesmoke;
}

header,
footer {
    height: 5rem;
    background-color: var(--yellow);
}

#logo-container {
    width: 4rem;
    aspect-ratio: 1 / 1;
}

#minefield {
    width: 30rem;
    aspect-ratio: 1 / 1;
    margin: 1rem auto;
}

.azure-cell {
    background-color: var(--azure);
    border: 1px dashed whitesmoke;
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    text-align: center;
    line-height: 3rem;
    color: whitesmoke;
}